<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="stylesheets/lib.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
        <title>Finstagram</title>
    </head>
    <body>
      <%= yield %>
    </body>
    </html>